= image_tag @recipe.image.url(:medium, class: "recipe_image")
%h1= @recipe.title
%p= @recipe.description

= link_to "Volver", root_path, class: "btn btn-default"
= link_to "Editar", edit_recipe_path, class: "btn btn-default"
= link_to "Borrar", recipe_path, method: :delete, data: {confirm: "¿Está seguro que desea eliminar esta receta?" }, class: "btn btn-default"